*{
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
}

body {
    width: 100vw;
    background-color: white;
}

.cabecera{
    background-color: #181b1f;
    width: 100vw;
    height: 15vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.cabecera h1,a{
    color: white;
    text-decoration: none;
}

#link {
    color: rgba(0, 0, 0, 0.774);
    text-decoration: none;
    margin: 2rem 0 15px 3rem;
}

.sub-title{
    padding: 1%;
    color: white;
    font-size: 1.4rem;
}
.paragraph{
    margin: 10% 5% 0% 0%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3rem; 
    word-break: normal;
}

.content{
    height: 50vh;
    width: 100vw;
    background: rgba(139, 39, 92, 0.817);
    backdrop-filter: blur(50%);
    display: flex;
    align-items: center;
}

.content img{
    margin-left: 20%;
    width: 250px;
    height: 250px;
}

/* filtro para los generos, hecho con botones */

.filtro-container {
    margin: 5%;
    height: 35%;
    width: 25%;
}

.filtro-content{
    display: flex;
    margin-top: 10px;
}
  
.column {
    padding: 5px;
    flex: 1;
    flex-direction: column;
}
  
.column label{
    order: 1;
    line-height: 1.5rem;
    padding:0 15px 0 5px; 
    color: #f2f2f2;
}

.column input{
    order: 2;
    position: relative;
    margin-left: -100;
}
  
button{
    width: 13px;
    height: 13px;
    border-radius: 50px;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 10px;
    cursor: pointer;
    border: black solid;
} 
  

.container{
    min-height: 25vh;
    background-color: thistle;
    margin: 0 auto;
    padding-bottom: 50px;
}

.table-content{
    width: 90vw;
    max-height: 90%;
    background-color: #F9F1F2;
    margin: 0 auto;
    margin-bottom: 2%;
}

td{
    padding:5px;
}

.title-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

i{
    margin-left: 5%;
    color: black;
}

.title-content img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 1rem;
}

.table-content p{
    margin-left: 5%;
}
th{
    padding:10px;
    text-align: left;
}

.table-content p{
    margin-left: 5%;
}

td{
    padding:10px;
}


th{
    padding:25px;
    text-align: left;
}
.title-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navegacion{
    margin: 0 auto;
    width: 100vw;
    height: 10vh;
    background-color: thistle; 
    display: flex;
    justify-content: end;
    align-items: center;
}

 
.search-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 5px;
    width: 20%;
    margin-right: 10%;
}

#search-icon {
    margin-right: 5px;
    color: gray;
    cursor: pointer;
}

#search-bar {
    display: none;
    border: none;
    background-color: transparent;
    outline: none;
    width: 3vw;
    transition: all 0.3s ease;

}

#search-input.active {
    display: block;
    width: 200px;
}
input{
    background-color: transparent;
    border: #f2f2f2;
    width: 15vw;
    margin-left: 1.2rem;

}
input::placeholder{
    color: black;

}
input:focus{
    background-color: #cccdcf;
    color: black;
    border: #f2f2f2;
}


